In [2]:
#check_grade

score = int(input("Enter your score: "))

if score > 90:
    print('Excellent')
elif score > 50:
    print('Pass')
else:
    print('Fail')

Enter your score:  60

Pass

In [4]:
#Loop to print square of a list of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

for i in numbers:
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [24]:
#sum numbers using while loop

sum = 0
number = 1

while number < 101:
    sum += number
    number += 1

print(f'sum = {sum}')

sum = 5050

In [48]:
#check for highest score

student_scores = {
    "Alice": 85,
    "Bob":75,
    "Charlie":95
}

def get_top_student(score):
    top_student = max(score, key = score.get)
    return top_student

top_student = get_top_student(student_scores)

print(f'Highest score is {top_student} ')

Highest score is Charlie

In [52]:
#Add to the dictionary

student_scores = {
    "Alice": 85,
    "Bob":75,
    "Charlie":95
}

student_scores["David"] = 88

print(f'updated_scores: {student_scores}')

updated_scores: {'Alice': 85, 'Bob': 75, 'Charlie': 95, 'David': 88}

In [59]:
#set operations

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

union = set_a | set_b
intersect = set_a & set_b
difference = set_a - set_b
print(f'Union of set a and b is {union}')
print(f'Intersect of set a and b is {intersect}')
print(f'Difference between set a and b is {difference}')

Union of set a and b is {1, 2, 3, 4, 5, 6, 7, 8}
Intersect of set a and b is {4, 5}
Difference between set a and b is {1, 2, 3}

In [63]:
#List comprehension
numbers = list(range(1, 21, 1))

even_numbers = [even_num for even_num in numbers if even_num % 2 == 0 ]

print(f'The even numbers are {even_numbers}')

The even numbers are [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
# nested dictionaires

class_data = {
 'Class A': {'John': 85, 'Jane': 92, 'Tom': 78},
 'Class B': {'Alex': 88, 'Chris': 79, 'Emma': 91}
 }

def get_average_score(class_data):
    for class_name, student in class_data.items():
        if len(student) == 0:
             average_score = 0
        else:
            average_score = sum(student.values()) / len(student)
            print(f'Average score for {class_name} is {average_score}')

get_average_score(class_data)

Average score for Class A is 85.0
Average score for Class B is 86.0

In [3]:
#divisors

numbers = list(range(1, 21, 1))

def find_divisble_numbers(num, divisor):
    divisible = [num for num in numbers if num % divisor == 0 ]
    print(f'These numbers {divisible} can be divided by {divisor}')

find_divisble_numbers(numbers, 3)

These numbers [3, 6, 9, 12, 15, 18] can be divided by 3

In [9]:
#matrix list

matrix = [[1,2,3], [4,5,6], [7,8,9]]

for num in matrix:
    for value in num:
        print(value)

1
2
3
4
5
6
7
8
9

In [2]:
#dictionary comprehension

squared_dictionary = {}

for i in range(1,5):
    squared_dictionary[i] = i **2

print(squared_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16}

In [8]:
#set add, remove, and check

fruits = {'apple', 'banana', 'orange'}

fruits.add('mango')
fruits.remove('banana')

if 'apple' in fruits:
    print('It exists!')
else:
    print("It doesn't exist")

print(fruits)

It exists!
{'apple', 'mango', 'orange'}

In [12]:
#for loop with range and break

n = int(input('enter a number: '))

def find_first_multiple(num):
    for num in range(1, n):
        if (num % 3 == 0) and (num % 5 == 0):
            print(num)
        else:
            print('No multiple found')
            
find_first_multiple(n)

enter a number:  20

No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
No multiple found
15
No multiple found
No multiple found
No multiple found
No multiple found

In [17]:
#using zip with list

names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 78]

def zip_list(list1, list2):
    zipped_list = zip(list1, list2)
    print(list(zipped_list))

zip_list(names, scores)

[('Alice', 85), ('Bob', 90), ('Charlie', 78)]

In [22]:
#counting frequency with dictionary

fruits_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
fruits_dict = {}

for i, value in enumerate(fruits_list):
    if fruits_list[i] == value:
        fruits_dict[value] = fruits_list.count(value)

print(fruits_dict)

{'apple': 3, 'banana': 2, 'orange': 1}

In [1]:
#set operation with mulitple sets 
set_1 = {1, 2, 3, 4} 
set_2 = {3, 4, 5, 6} 
set_3 = {5, 6, 7, 8}

union = set_1 | set_2 | set_3
intersect = set_1 & set_2 & set_3
symmetric_difference = set_1 ^ set_2 

print(f'The union of these sets are {union}')
print(f'The intersect of these sets are {intersect}')
print(f'The symmetric difference of these two sets are {symmetric_difference}')

The union of these sets are {1, 2, 3, 4, 5, 6, 7, 8}
The intersect of these sets are set()
The symmetric difference of these two sets are {1, 2, 5, 6}

In [46]:
#handling a list of dictionaries

students = [
    {'name': 'Frank', 'grade': 90}, 
    {'name': 'Kevin', 'grade': 75}, 
    {'name': 'Henry', 'grade': 60}
]


def average_grade(students):
    total_grade = 0
    for i, student in enumerate(students):
        total_grade += student['grade']
        
    average_grade = total_grade / len(students)
    print(f'The average grade = {average_grade}')
       

average_grade(students)

225
The average grade = 75.0

In [57]:
#dictionary lookup with default values
product_input = str(input('Enter a product: '))

product_prices = {
    'rice': 200,
    'pot': 1000,
    'spoons': 120,
    'oil': 400
}

def get_price(product_prices):
    for product, price in product_prices.items():
        if product == product_input:
            print(f'The price of {product} is {price}')
            break
        else: 
            print('Product not found')
            break

get_price(product_prices)

Enter a product:  fish

Product not found

In [63]:
#List Manipulation with Control Structures 

numbers = [3, 8, 1, 10, 4, 7]

def filter_and_sort(numbers):
    new_list = [num for num in numbers if num > 5]
    return sorted(new_list, reverse=True)
        
filter_and_sort(numbers)

[10, 8, 7]

In [8]:
#Set Operations with Conditional Logic
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = {even for even in numbers if even % 2 == 0}
odds = {odd for odd in numbers if odd % 2 != 0}

intersect = evens | odds

if evens & odds:
    print(intersect)
else:
    print('No common elements')

No common elements